{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muebles Tecnologicos</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="container-hero">
            <div class="container hero">
                <div class="customer-support">
                    <i class="fa-solid fa-headset"></i>
                    <div class="content-customer support">
                        <span class="text">Soporte al cliente</span>
                        <span class="number">123-456-7890</span>
                    </div>
                </div>

                <div class="container-logo">
                    <i class="fa-solid fa-couch"></i>
                    <h1 class="logo"><a href="/">Muebles Tecnológicos</a></h1>
                </div>

                <div class="container-user">
                    {% if user.is_authenticated %}
                        <div class="user-info-dropdown">
                            <span class="user-greeting">👋 Hola, {{ user.username }}</span>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="logout-button">Cerrar sesión</button>
                            </form>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="login-link">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    {% endif %}
                    
                    <i class="fa-solid fa-basket-shopping"></i>
                    <div class="content-shopping-cart">
                        <!-- Botón para mostrar/ocultar el carrito -->
                        <span class="text" id="toggle-carrito">Carrito</span>
                        <span class="contador-carrito" id="contador-carrito">(0)</span>

                        <!-- CARRITO (Contenedor despegable) -->
                        <div id="carrito" class="carrito">
                            <div id="carrito-productos" class="carrito-productos"></div>
                            <p>Total: <span id="total-carrito">$0</span></p>
                            <button id="vaciar-carrito">Vaciar carrito</button>
                            <button id="checkout-carrito">Proceder al pago</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-navbar">
            <nav class="nav navbar container">
                <i class="fa-solid fa-bars"></i>
                <ul class="ul menu">
                    <li class="opcion-principal"><a href="index.html">Inicio</a></li>
                    <li class="opcion-principal">
                        <a href="productos.html">Productos</a>
                    </li>
                    <li class="opcion-principal">
                        <a href="#">Categorias</a>
                        <ul class="submenu">
                            <li><a href="#">Sillas Ergonómicas</a></li>
                            <li><a href="#">Escritorios Gamer</a></li>
                            <li><a href="#">Mesas Inteligentes</a></li>
                        </ul>
                    </li>
                    <li class="opcion-principal">
                <a href="{% url 'subasta' %}">Subasta</a>
                    </li>
                </ul>
                
                <!-- BUSCADOR -->
                <form class="search-form">
                    <div class="autocomplete-wrapper">
                        <div class="autocomplete-overlay" id="autocomplete-overlay"></div>
                        <input id="buscador" type="search" placeholder="Buscar..." autocomplete="off">
                        <button id="clear-search" type="button">×</button>
                        <button class="btn-search" type="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <ul id="sugerencias"></ul>
                </form>
            </nav>
        </div>
    </header>

    <section class="banner">
        <div class="content-banner">
            <p>Encontrá tu mueble ideal</p>
            <h2>Muebles <br>Tecnológicos</h2>
            <a href="#">Comprar ahora</a>
        </div>
    </section>

    <main class="main-content">
        <section class="container container-features">
            <div class="card-feature">
                <i class="fa-solid fa-truck"></i>
                <div class="feature-content">
                    <span>Envíos gratis</span>
                    <p>En compras superiores a $300.000</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-wallet"></i>
                <div class="feature-content">
                    <span>Política de reembolso</span>
                    <p>100$ garantía de devolución de dinero</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-gift"></i>
                <div class="feature-content">
                    <span>Gift cards</span>
                    <p>Ofrece bonos especiales con regalo</p>
                </div>
            </div>
            <div class="card-feature">
                <i class="fa-solid fa-headset"></i>
                <div class="feature-content">
                    <span>Atención al cliente las 24 horas</span>
                    <p>Llame al 123-456-7890</p>
                </div>
            </div>
        </section>

        <section class="container top-categories">
            <h1 class="heading-1">Mejores categorías</h1>
            <div class="container-categories">
                <div class="card-category category-sillas">
                    <p>Sillas Ergonómicas</p>
                    <span>Ver más</span>
                </div>
                <div class="card-category category-escritorios">
                    <p>Escritorios Gamer</p>
                    <span>Ver más</span>
                </div>
                <div class="card-category category-mesas">
                    <p>Mesas Inteligentes</p>
                    <span>Ver más</span>
                </div>
            </div>
        </section>

        <section class="container top-products">
            <h1 class="heading-1">Mejores productos</h1>
            <div class="container-options">
                <span>Más relevantes</span>
                <span>Más recientes</span>
                <span>Más vendidos</span>
            </div>
            <div class="container-products">
                <!--Producto 1-->
                <div class="card-product" data-url="escritorio-gamer.html">
                    <div class="container-img">
                        <img src="{% static 'img/escritorio-gamer.jpg' %}" alt="Escritorio Gamer" class="escritorio-gigante">
                        <span class="discount">-10%</span>
                        <div class="button-group">
                            <span>
                                <i class="fa-solid fa-eye"></i>
                            </span>
                            <span>
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-code-compare"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-card-product">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h3>Escritorio Gamer</h3>
                        <span class="add-cart">
                            <i class="fa-solid fa-basket-shopping"
                               data-id="1"
                               data-nombre="Escritorio Gamer"
                               data-precio="270000"></i>
                        </span>
                        <p class="price">$270.000 <span>$300.000</span></p>
                    </div>
                </div>
                
                <!--Producto 2-->
                <div class="card-product" data-url="sillon-inteligente.html">
                    <div class="container-img">
                        <img src="{% static 'img/sillon-inteligente.jpg' %}" alt="Sillon Inteligente" class="escritorio-gigante">
                        <span class="discount">-20%</span>
                        <div class="button-group">
                            <span>
                                <i class="fa-solid fa-eye" onclick="redireccionarALinkedin()"></i>
                            </span>
                            <span>
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-code-compare"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-card-product">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h3>Sillón Inteligente</h3>
                        <span class="add-cart">
                            <i class="fa-solid fa-basket-shopping"
                               data-id="2"
                               data-nombre="Sillón Inteligente"
                               data-precio="440000"></i>
                        </span>
                        <p class="price">$440.000 <span>$550.000</span></p>
                    </div>
                </div>
                
                <!--Producto 3-->
                <div class="card-product" data-url="silla-gamer.html">
                    <div class="container-img">
                        <img src="{% static 'img/silla-gamer.jpg' %}" alt="Silla Gamer" class="escritorio-gigante">
                        <span class="discount">-50%</span>
                        <div class="button-group">
                            <span>
                                <i class="fa-solid fa-eye"></i>
                            </span>
                            <span>
                                <i class="fa-regular fa-heart"></i>
                            </span>
                            <span>
                                <i class="fa-solid fa-code-compare"></i>
                            </span>
                        </div>
                    </div>
                    <div class="content-card-product">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h3>Silla Gamer</h3>
                        <span class="add-cart">
                            <i class="fa-solid fa-basket-shopping"
                               data-id="3"
                               data-nombre="Silla Gamer"
                               data-precio="350000"></i>
                        </span>
                        <p class="price">$350.000 <span>$700.000</span></p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Scripts -->
    <script src="{% static 'comportamientos.js' %}"></script>
    <script>
        // Mostrar y ocultar el carrito
        document.addEventListener('DOMContentLoaded', function() {
            const toggleCarrito = document.getElementById("toggle-carrito");
            if (toggleCarrito) {
                toggleCarrito.addEventListener("click", () => {
                    const carrito = document.getElementById("carrito");
                    carrito.classList.toggle("activo");
                });
            }
        });
    </script>
</body>
</html>